<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyansz.scalescan.mapper.Holob2csendorderheadMapper" >
  <resultMap id="BaseResultMap" type="com.moyansz.scalescan.po.Holob2csendorderhead" >
    <id column="hSendID" property="hsendid" jdbcType="INTEGER" />
    <result column="hOrderID" property="horderid" jdbcType="INTEGER" />
    <result column="hOrderDate" property="horderdate" jdbcType="DATE" />
    <result column="hSenderName" property="hsendername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hSendID, hOrderID, hOrderDate, hSenderName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.moyansz.scalescan.po.Holob2csendorderheadExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from holoB2CSendOrderHead
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from holoB2CSendOrderHead
    where hSendID = #{hsendid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from holoB2CSendOrderHead
    where hSendID = #{hsendid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.moyansz.scalescan.po.Holob2csendorderheadExample" >
    delete from holoB2CSendOrderHead
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.moyansz.scalescan.po.Holob2csendorderhead" >
    insert into holoB2CSendOrderHead (hSendID, hOrderID, hOrderDate, 
      hSenderName)
    values (#{hsendid,jdbcType=INTEGER}, #{horderid,jdbcType=INTEGER}, #{horderdate,jdbcType=DATE}, 
      #{hsendername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.moyansz.scalescan.po.Holob2csendorderhead" >
    insert into holoB2CSendOrderHead
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hsendid != null" >
        hSendID,
      </if>
      <if test="horderid != null" >
        hOrderID,
      </if>
      <if test="horderdate != null" >
        hOrderDate,
      </if>
      <if test="hsendername != null" >
        hSenderName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hsendid != null" >
        #{hsendid,jdbcType=INTEGER},
      </if>
      <if test="horderid != null" >
        #{horderid,jdbcType=INTEGER},
      </if>
      <if test="horderdate != null" >
        #{horderdate,jdbcType=DATE},
      </if>
      <if test="hsendername != null" >
        #{hsendername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.moyansz.scalescan.po.Holob2csendorderheadExample" resultType="java.lang.Integer" >
    select count(*) from holoB2CSendOrderHead
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update holoB2CSendOrderHead
    <set >
      <if test="record.hsendid != null" >
        hSendID = #{record.hsendid,jdbcType=INTEGER},
      </if>
      <if test="record.horderid != null" >
        hOrderID = #{record.horderid,jdbcType=INTEGER},
      </if>
      <if test="record.horderdate != null" >
        hOrderDate = #{record.horderdate,jdbcType=DATE},
      </if>
      <if test="record.hsendername != null" >
        hSenderName = #{record.hsendername,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update holoB2CSendOrderHead
    set hSendID = #{record.hsendid,jdbcType=INTEGER},
      hOrderID = #{record.horderid,jdbcType=INTEGER},
      hOrderDate = #{record.horderdate,jdbcType=DATE},
      hSenderName = #{record.hsendername,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.moyansz.scalescan.po.Holob2csendorderhead" >
    update holoB2CSendOrderHead
    <set >
      <if test="horderid != null" >
        hOrderID = #{horderid,jdbcType=INTEGER},
      </if>
      <if test="horderdate != null" >
        hOrderDate = #{horderdate,jdbcType=DATE},
      </if>
      <if test="hsendername != null" >
        hSenderName = #{hsendername,jdbcType=VARCHAR},
      </if>
    </set>
    where hSendID = #{hsendid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moyansz.scalescan.po.Holob2csendorderhead" >
    update holoB2CSendOrderHead
    set hOrderID = #{horderid,jdbcType=INTEGER},
      hOrderDate = #{horderdate,jdbcType=DATE},
      hSenderName = #{hsendername,jdbcType=VARCHAR}
    where hSendID = #{hsendid,jdbcType=INTEGER}
  </update>
</mapper>