<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyansz.scalescan.mapper.HolomodlefileMapper" >
  <resultMap id="BaseResultMap" type="com.moyansz.scalescan.po.Holomodlefile" >
  <id column="_id" property="id" jdbcType="INTEGER" />
  <result column="modlePath" property="modlepath" jdbcType="VARCHAR" />
  <result column="fkUserId" property="fkuserid" jdbcType="INTEGER" />
  <result column="uploadTime" property="uploadtime" jdbcType="DATE" />
  <result column="category" property="category" jdbcType="INTEGER" />
</resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    _id, modlePath, fkUserId, uploadTime, category
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.moyansz.scalescan.po.HolomodlefileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from holoModleFile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from holoModleFile
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from holoModleFile
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.moyansz.scalescan.po.HolomodlefileExample" >
    delete from holoModleFile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.moyansz.scalescan.po.Holomodlefile" >
    insert into holoModleFile (_id, modlePath, fkUserId,
    uploadTime, category)
    values (#{id,jdbcType=INTEGER}, #{modlepath,jdbcType=VARCHAR}, #{fkuserid,jdbcType=INTEGER},
    #{uploadtime,jdbcType=DATE}, #{category,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.moyansz.scalescan.po.Holomodlefile" >
    insert into holoModleFile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="modlepath != null" >
        modlePath,
      </if>
      <if test="fkuserid != null" >
        fkUserId,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
      <if test="category != null" >
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modlepath != null" >
        #{modlepath,jdbcType=VARCHAR},
      </if>
      <if test="fkuserid != null" >
        #{fkuserid,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=DATE},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.moyansz.scalescan.po.HolomodlefileExample" resultType="java.lang.Integer" >
    select count(*) from holoModleFile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update holoModleFile
    <set >
      <if test="record.id != null" >
        _id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.modlepath != null" >
        modlePath = #{record.modlepath,jdbcType=VARCHAR},
      </if>
      <if test="record.fkuserid != null" >
        fkUserId = #{record.fkuserid,jdbcType=INTEGER},
      </if>
      <if test="record.uploadtime != null" >
        uploadTime = #{record.uploadtime,jdbcType=DATE},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update holoModleFile
    set _id = #{record.id,jdbcType=INTEGER},
    modlePath = #{record.modlepath,jdbcType=VARCHAR},
    fkUserId = #{record.fkuserid,jdbcType=INTEGER},
    uploadTime = #{record.uploadtime,jdbcType=DATE},
    category = #{record.category,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.moyansz.scalescan.po.Holomodlefile" >
    update holoModleFile
    <set >
      <if test="modlepath != null" >
        modlePath = #{modlepath,jdbcType=VARCHAR},
      </if>
      <if test="fkuserid != null" >
        fkUserId = #{fkuserid,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=DATE},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=INTEGER},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moyansz.scalescan.po.Holomodlefile" >
    update holoModleFile
    set modlePath = #{modlepath,jdbcType=VARCHAR},
    fkUserId = #{fkuserid,jdbcType=INTEGER},
    uploadTime = #{uploadtime,jdbcType=DATE},
    category = #{category,jdbcType=INTEGER}
    where _id = #{id,jdbcType=INTEGER}
  </update>


  <!--分割*********************************************线-->
  <select id="selectByModlePath" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM `holoModleFile` WHERE modlePath LIKE '%${value}%';
  </select>

  <select id="selectByNameAndUserid" parameterType="com.moyansz.scalescan.po.Holomodlefile" resultMap="BaseResultMap">
    SELECT * FROM `holoModleFile`
    WHERE modlePath
    LIKE '%${modlepath}%'
    AND `fkUserId` = #{fkuserid,jdbcType=INTEGER};
  </select>

</mapper>